@charset "UTF-8";
/*--------------------------------------------------------
      All Forms Default Setting
--------------------------------------------------------*/
.select2-container--default .select2-selection--single .select2-selection__rendered,
.select2-selection__choice,
.bootstrap-select .btn-light,
.form-control,
.input-upload span,
.bootstrap-tagsinput .badge {
  color: #495057;
}
.form-inline .form-control,
.form-inline .select2-container {
  margin-right: .5rem;
}
/*--------------------------------------------------------
      Form > Basic > select
--------------------------------------------------------*/
.bootstrap-select .dropdown-toggle:focus,
.bootstrap-select>select.mobile-device:focus+.dropdown-toggle {
  outline: 5px auto rgba(0, 123, 255, .25) !important;
}
/*--------------------------------------------------------
      Form > Plugins > bootstrap select
--------------------------------------------------------*/
/* --- Reset Default Style & validation --- */
.bootstrap-select .btn-light {
  background-color: #ffffff;
  border-color: #ced4da;
}
.was-validated .form-control:valid+button.btn-light {
  border-color: #28a745;
}
.bootstrap-select .btn-light.bs-invalid {
  border-color: #dc3545;
}
.form-inline .bootstrap-select {
  margin-left: 0 !important;
}
.bootstrap-select .dropdown-toggle:focus,
.bootstrap-select>select.mobile-device:focus+.dropdown-toggle {
    /* outline-offset: 0; */
    border-color: #80bdff;
    outline: 0 !important;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25) !important;
}
/*--------------------------------------------------------
      Form > Basic > Check/Radio
--------------------------------------------------------*/
/* --- Reset Default Style  & Bug Fix --- */
.form-check-label::before {
  background: #ffffff;
}
[disabled]+.form-check-label::before {
  background: #dee2e6
}
/* .form-check .form-check-input:indeterminate~.form-check-label::after {
  background-image: none;
}
.form-check.treeview .form-check-input:indeterminate~.form-check-label::after {
  background-image: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 4'%3e%3cpath stroke='%23444' d='M0 2h4'/%3e%3c/svg%3e);
} */
.form-check-input {
  display: none;
}
.form-check-label::before {
  border-radius: 0;
}
.form-check-label::after, .form-check-label::before {
    top: .2rem;
}
/* --- inline --- */
.form-inline .form-check {
   padding-left: 1.5rem;
}
/* --- label notext --- */
.form-inline .form-check.form-check-notext,
.form-check.form-check-notext {
  padding-left: 0;
}
.form-check-notext .form-check-label::before
 {
  position: static;
  display: inline-block; 
  vertical-align: middle;
}
.form-check-notext .form-check-label::after {
  left: 0;
  top: 0.25rem;
  vertical-align: middle;
}
.form-inline .form-check.form-check-notext  .form-check-label::after {
  top: 0rem;
}
/* --- Button Style --- */
.radio-likebtn input[type="radio"], .check-likebtn input[type="checkbox"] {
  display: none;
}
.radio-likebtn input[type="radio"]+label,
.check-likebtn input[type="checkbox"]+label {
  display: inline-block;
  background-color: #fff;
  border: 1px solid #BABABA;
  color: #A7A7A7;
  cursor: pointer;
  padding: 5px 12px;
  margin-bottom: 0;
  margin-right: 5px;
  min-width: 58px;
  text-align: center;
}

.radio-likebtn input[type="radio"]:checked+label,
.check-likebtn input[type="checkbox"]:checked+label {
  background-color: #CCA182;
  border: 1px solid #CCA182;
  color: #fff;
}


/*--------------------------------------------------------
      UI > Advanced > Card Option
--------------------------------------------------------*/
[data-component="cardoption"] {
  width: 24px;
  height: 20px;
  overflow: hidden;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  padding-left: 0;
  list-style: none;
  margin-bottom: 0;
}
[data-component="cardoption"] li {
  display: inline-block;
  width: 24px;
  text-align: center;
  cursor: pointer;
}
[data-component="cardoption"] li a {
  color: #212529;
}


/*--------------------------------------------------------
      Table > Basic > bs Table
--------------------------------------------------------*/
/* --- table-fixedwidth --- */
table.table-fixedwidth {
  word-wrap: break-word;
  table-layout: fixed;
}
/* --- clickableRow --- */
.table tr.clickable-row:hover td {
  cursor: pointer;
  background: #ECECEC;
}

/*--------------------------------------------------------
      Table > Advanced > Table dropdown
--------------------------------------------------------*/
.table-dropdown {
  border-bottom: 1px solid #ddd;
}
.table-dropdown thead th,
.table-dropdown th {
  background: #f3f3f3;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-left: 0px solid #ddd;
  border-right: 0px solid #ddd;
  vertical-align: middle;
  word-break: keep-all;
  padding: 0.75rem 0.5rem;
}
.table-dropdown tbody td,
.table-dropdown td {
  padding: 0.5rem;
  border-top: 1px solid #ddd;
}
.table-dropdown tbody tr:nth-child(odd) td {
  padding: 0.75rem 0.5rem;
}
.table-dropdown tbody tr.collapse.show td {
  border-top: 1px solid #fff;
  -webkit-transition: opacity 0.01s ease-in-out;
  -moz-transition: opacity 0.01s ease-in-out;
  -o-transition: opacity 0.01s ease-in-out;
  transition: opacity 0.01s ease-in-out;
}
.table-dropdown thead tr th:last-child,
.table-dropdown tbody tr td:last-child {
  width: 48px;
  text-align: center;
}
.table-dropdown thead tr th:first-child .checkbox-control label {
  font-weight: 600;
}
.table-dropdown tbody tr td .btn-dropdown i.fas {
  color: #009ab4;
  position: relative;
  top: 3px;
  width: 24px;
  font-size: 24px;
}
.table-dropdown tbody tr td .btn {
  line-height: 1.6;
}

/* --- table dropdown 展開內容 --- */
.table-dropdown .table-content {
  margin: 0;
}
.table-dropdown .table-item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 2px 0;
  padding: 0;
  font-size: 95%;
}
.table-dropdown .table-item .col-label {
  line-height: 1.6;
  padding: 0rem 0.15rem 0 0;
  margin-bottom: 0;
  word-break: keep-all;
  white-space: nowrap;
  min-width: 30%;
}
.table-dropdown .table-item .col-data {
  text-align: right;
  padding: 0 0 0 0;
}
.table-dropdown .table-item input.form-input-underline {
  text-align: right;
}

@media (min-width:361px) {
  .table-dropdown tbody td,
  .table-dropdown td {
    padding: 0.5rem;
  }
  .table-dropdown tbody tr:nth-child(odd) td {
    padding: 0.75rem 0.5rem;
  }
  .table-dropdown .table-content {
    margin: 0;
  }
  .table-dropdown .table-item {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 2px 0;
    padding: 0;
    font-size: 100%;
  }
  .table-dropdown .table-item .col-label {
    line-height: 1.6;
    padding: 0.4rem 0.25rem;
    margin-bottom: 0;
    word-break: keep-all;
    white-space: nowrap;
    min-width: 30%;
  }
  .table-dropdown .table-item .col-data {
    text-align: right;
    padding: 0.25rem;
  }
  .table-dropdown .table-item input.form-input-underline {
    text-align: right;
  }
}

/*--------------------------------------------------------
      Extension > Calendar > Fullcalendar
--------------------------------------------------------*/
/* --- fullcalendar-basic --- */
.fullcalendar-basic {
  margin: 0 auto;
}
.fullcalendar-basic .fc-event {
  border-radius: 0;
  text-align: left;
  border: 0;
  padding: 1px 3px;
  font-size: 13px;
}
.fullcalendar-basic .fc-event:hover,
.fullcalendar-basic .fc-event:focus {
  text-decoration: none;
}
.fullcalendar-basic .fc-toolbar.fc-header-toolbar {
  margin-bottom: 25px;
}
.fullcalendar-basic .fc-header-toolbar h2 {
  margin: 0;
  font-size: 2.5rem;
  font-weight: 600;
  letter-spacing: -1px;
}
.fullcalendar-basic .fc-month-view thead td,
.fullcalendar-basic .fc-month-view thead th {
  border-color: transparent;
  border-bottom: 1px solid #ddd;
}
.fullcalendar-basic .fc-month-view thead th {
  padding-bottom: 10px;
}
.fullcalendar-basic .fc-month-view thead th span {
  font-size: 19px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .5px;
}
.fullcalendar-basic .fc-unthemed td.fc-today {
  background: transparent;
}
.fullcalendar-basic .fc-ltr .fc-basic-view .fc-day-top .fc-day-number {
  float: right;
  display: inline-block;
  width: 24px;
  text-align: center;
  line-height: 24px;
  font-size: 14px;
}
.fullcalendar-basic .fc-today {
  position: relative;
}
.fullcalendar-basic .fc-today:before {
  content: '';
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  z-index: -1;
  position: absolute;
  top: 2px;
  right: 2px;
}
.fullcalendar-basic .fc-today .fc-day-number {
  color: #fff;
}
.fullcalendar-basic .fc-highlight {
  background: #f0efe9;
}
.fc button {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: relative;
}
.fc-button {
  background: none;
  border: 1px solid #ccc;
}

.fullcalendar-basic .fc-state-default.fc-corner-left,
.fullcalendar-basic .fc-state-default.fc-corner-right {
  border-radius: 0;
}

.fullcalendar-basic .fc-month-button {
  display: none;
}

.fullcalendar-basic .fc-month-button::before {
  content: '\f073';
  font-family: 'Font Awesome 5 Pro';
  font-weight: 900;
}

.fullcalendar-basic .fc-listMonth-button::before {
  content: '\f0ca';
  font-family: 'Font Awesome 5 Pro';
  font-weight: 900;
}

.fullcalendar-basic .fc-list-view .fc-scroller {
  height: auto !important;
}

.fullcalendar-basic .fc-list-item-title {
  text-align: left;
}

.fullcalendar-basic .fc-state-hover {
  border: 1px solid #333;
}

.fullcalendar-basic .fc-state-down {
  box-shadow: none;
  border: 1px solid #333;
}

.fullcalendar-basic .fc button.fc-custombtn-button {
  width: 100px;
}
/*--------------------------------------------------------
      Table > Plugins > DataTable
--------------------------------------------------------*/
/* --- Fix --- */
.dataTables_scrollHeadInner,
.dataTables_scrollHeadInner table,
.dataTables_scrollBody table {
  min-width: 100%;
}
/*--------------------------------------------------------
      Form > Plugins > steps
--------------------------------------------------------*/
/* --- Custom Circle Style --- */
.wizard.wizard-circle>.steps {
  position: relative;
  display: block;
  width: 100%;
}
.wizard.wizard-circle>.steps .current-info {
  position: absolute;
  left: -99999px;
}
.wizard.wizard-circle>.steps>ul {
  display: table;
  width: 100%;
  table-layout: fixed;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}
.wizard.wizard.wizard-circle>.steps>ul>li {
  display: table-cell;
  vertical-align: top;
  text-align: center;
  position: relative;
  float: none;
}

.wizard.wizard-circle>.steps>ul>li a {
  position: relative;
  padding-top: 52px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: block;
  text-decoration: none;
  font-size: 15px;
  color: #888;
  background: transparent;
}

.wizard.wizard-circle>.steps>ul>li:before {
  content: '';
  display: block;
  position: absolute;
  z-index: 9;
  left: 0;
}

.wizard.wizard-circle>.steps>ul>li:after {
  content: '';
  display: block;
  position: absolute;
  z-index: 9;
  right: 0;
}

.wizard.wizard-circle>.steps>ul>li:first-child:before,
.wizard.wizard-circle>.steps>ul>li:last-child:after {
  width: 0;
}

.wizard.wizard-circle>.steps>ul>li.current a,
.wizard.wizard-circle>.steps>ul>li.done a {
  color: #666ee8;
}

.wizard.wizard-circle>.steps>ul>li.current .step,
.wizard.wizard-circle>.steps>ul>li.done .step {
  border-color: #666EE8;
  background-color: #fff;
  color: #666EE8;
}

.wizard.wizard-circle>.steps .current a,
.wizard.wizard-circle>.steps .current a:hover,
.wizard.wizard-circle>.steps .current a:active {
  background: transparent;
}

.wizard.wizard-circle>.steps .done a,
.wizard.wizard-circle>.steps .done a:hover,
.wizard.wizard-circle>.steps .done a:active {
  background: transparent;
}

.wizard.wizard-circle>.steps .step {
  background-color: #fff;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -24px;
  z-index: 10;
  text-align: center;
}

.wizard.wizard-circle>.content {
  position: relative;
  width: auto;
  padding: 0;
  margin: 0 0 1rem 0;
  border: 1px solid #ddd;
  border-top: 4px solid #ddd;
  background: transparent;
  min-height: 20em;
  border-radius: 0;
}

.wizard.wizard-circle>.content>.title {
  position: absolute;
  left: -99999px;
}

.wizard.wizard-circle>.content>.body {
  padding: 20px;
}

.wizard-circle>.actions {
  position: relative;
  display: block;
  text-align: right;
  padding: 20px;
  padding-top: 0;
}

.wizard.wizard-circle>.actions>ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: right;
}

.wizard.wizard-circle>.actions>ul:after {
  content: '';
  display: table;
  clear: both;
}

.wizard.wizard-circle>.actions>ul>li {
  float: left;
}

.wizard.wizard-circle>.actions>ul>li+li {
  margin-left: 10px;
}

.wizard.wizard-circle>.actions>ul>li>a {
  background: #fff;
  color: #444;
  display: block;
  padding: 7px 12px;
  border-radius: 2px;
  border: 1px solid #b7b7b7;
  text-decoration: none;
  border-radius: 4px;
}

.wizard.wizard-circle>.actions>ul>li>a:hover {
  -webkit-box-shadow: 0 0 0 100px rgba(0, 0, 0, 0.05) inset;
  box-shadow: 0 0 0 100px rgba(0, 0, 0, 0.05) inset;
  background: #343a40;
  border: 1px solid #343a40;
  color: #fff;
}

.wizard.wizard-circle>.actions>ul>li>a:focus {
  -webkit-box-shadow: 0 0 0 100px rgba(0, 0, 0, 0.05) inset;
  box-shadow: 0 0 0 100px rgba(0, 0, 0, 0.05) inset;
  background: #343a40;
  border: 1px solid #343a40;
}

.wizard.wizard-circle>.actions>ul>li>a:active {
  -webkit-box-shadow: 0 0 0 100px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 0 0 100px rgba(0, 0, 0, 0.1) inset;
  border: 1px solid #b7b7b7;
  background: #fff;
  color: #444;
}

.wizard.wizard-circle>.actions>ul>li>a[href="#previous"] {
  background-color: #fcfcfc;
  color: #333;
  border: 1px solid #ddd;
}

.wizard.wizard-circle>.actions>ul>li>a[href="#previous"]:hover {
  -webkit-box-shadow: 0 0 0 100px rgba(0, 0, 0, 0.02) inset;
  box-shadow: 0 0 0 100px rgba(0, 0, 0, 0.02) inset;
}

.wizard.wizard-circle>.actions>ul>li>a[href="#previous"]:focus {
  -webkit-box-shadow: 0 0 0 100px rgba(0, 0, 0, 0.02) inset;
  box-shadow: 0 0 0 100px rgba(0, 0, 0, 0.02) inset;
}

.wizard.wizard-circle>.actions>ul>li>a[href="#previous"]:active {
  -webkit-box-shadow: 0 0 0 100px rgba(0, 0, 0, 0.04) inset;
  box-shadow: 0 0 0 100px rgba(0, 0, 0, 0.04) inset;
}

.wizard.wizard-circle>.actions>ul>li>a[href="#finish"] {
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid #007bff;
  color: #007bff;
}

.wizard.wizard-circle>.actions>ul>li>a[href="#finish"]:hover {
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid #007bff;
  color: #fff;
  background: #007bff;
}

.wizard.wizard-circle>.actions>ul>li>a[href="#finish"] :focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid #007bff;
  color: #007bff;
}

.wizard.wizard-circle>.actions>ul>li>a[href="#finish"]:active {
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid #007bff;
  color: #007bff;
}

.wizard.wizard-circle>.actions>ul>li.disabled>a {
  color: #999999;
}

.wizard.wizard-circle>.actions>ul>li.disabled>a:hover {
  color: #999999;
}

.wizard.wizard-circle>.actions>ul>li.disabled>a:focus {
  color: #999999;
}

.wizard.wizard-circle>.actions>ul>li.disabled>a[href="#previous"] {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.wizard.wizard-circle>.actions>ul>li.disabled>a[href="#previous"]:hover {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.wizard.wizard-circle>.actions>ul>li.disabled>a[href="#previous"]:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.wizard.wizard-circle>.steps>ul>li:before,
.wizard.wizard-circle>.steps>ul>li:after {
  top: 43px;
  width: 50%;
  height: 5px;
  background-color: #666EE8;
}

.wizard.wizard-circle>.steps>ul>li.current:after {
  background-color: #F4F5FA;
}

.wizard.wizard-circle>.steps>ul>li.current~li:before {
  background-color: #F4F5FA;
}

.wizard.wizard-circle>.steps>ul>li.current~li:after {
  background-color: #F4F5FA;
}

.wizard.wizard-circle>.steps .step {
  width: 50px;
  height: 50px;
  line-height: 40px;
  border: 5px solid #F4F5FA;
  font-size: 1.5rem !important;
  border-radius: 50%;
}
@media screen and (max-width:992px) {
  .wizard.wizard-circle>.steps>ul {
    margin-bottom: 20px;
  }
  .wizard.wizard-circle>.steps>ul>li {
    display: block;
    float: left;
    width: 50%;
  }
  .wizard.wizard-circle>.steps>ul>li>a {
    margin-bottom: 0;
  }
  .wizard.wizard-circle>.steps>ul>li:first-child:before {
    content: '';
  }
  .wizard.wizard-circle>.steps>ul>li:last-child:after {
    content: '';
    background-color: #666EE8;
  }
}
/* --- Dynamic Height */
.wizard.wizard-dynamic>.content {
  min-height: auto;
}
 .wizard.wizard-dynamic>.content>.body {
  height: auto;
  position: absolute;
}
.wizard.wizard-dynamic>.content>.body.current {
  position: relative;
}

/* --- Bug Fix --- */
.wizard>.content>.body ul.list-unstyled {
  list-style: none !important;
}

/*--------------------------------------------------------
      Extension > Carousel > swiper
--------------------------------------------------------*/
/* --- Default --- */
.swiper-container {
  width: 100%;
  height: 100%;
  background: #eee;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  padding: 4em;
}

/* --- 內容滾動swiper-scroll --- */

.swiper-scroll .swiper-wrapper {
  display: block;
}

.swiper-scroll .swiper-slide {
  font-size: 18px;
  height: auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 30px;
  display: block;
  text-align: left;
}

/* --- slide漸變 --- */
.swiper-fade .swiper-slide {
  background-position: center;
  background-size: cover;
}

/* --- 縮圖 Thumbs Gallery --- */

.swiper-container.swiper-gallery {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.swiper-gallery .swiper-slide {
  background-size: cover;
  background-position: center;
}

.swiper-gallery.gallery-top {
  height: 80%;
  width: 100%;
}

.gallery-thumbs {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}

.gallery-thumbs .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

.gallery-thumbs .swiper-slide-thumb-active {
  opacity: 1;
}

/* --- 視差parallax --- */
.swiper-container.swiper-parallax {
  width: 100%;
  height: 100%;
  background: #000;
}
.swiper-parallax .swiper-slide {
  font-size: 18px;
  color: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px 60px;
  background: transparent;
  text-align: left;
  display: block;
}
.swiper-parallax .parallax-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 130%;
  height: 100%;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  background: #999;
}
.swiper-parallax .swiper-slide .title {
  font-size: 41px;
  font-weight: 300;
}
.swiper-parallax .swiper-slide .subtitle {
  font-size: 21px;
}
.swiper-parallax .swiper-slide .text {
  font-size: 14px;
  max-width: 400px;
  line-height: 1.3;
}
/*--------------------------------------------------------
      Extension > TreeView > BootstrapTreeView
--------------------------------------------------------*/
/* --- 架構樣式-垂直 --- */
.treeview.organization {
  width: 100%;
  line-height: 22px;
  padding: 0;
  margin: 0;
}

.treeview.organization ul {
  margin: 0;
  padding: 0;
  position: relative;
}

.treeview.organization .list-group-item {
  border: none;
}

.treeview.organization ul>li {
  display: flex;
  align-items: center;
  word-break: break-all;
  font-size: 1.25rem;
  padding: 0.75rem 0.75rem 0.75rem 0;
  margin-bottom: 0px;
  margin-top: 0px;
  white-space: nowrap;
}

.treeview.organization ul>li span {
  margin-top: 0;
  margin-bottom: 0px;
  white-space: nowrap;
  padding: 16px 24px;
  border-radius: 6px;
  background: linear-gradient(to right bottom, rgba(145, 195, 30, 1), rgba(0, 175, 200, 1));
  margin-bottom: 0;
  color: #fff;
}

.treeview.organization ul>li:after {
  content: "";
  display: block;
  position: absolute;
  height: 2px;
  width: 20px;
  background: #ccc;
  left: 108px;
  top: 50%;
}

.treeview.organization ul>li>ul {
  margin: 0 0 0 1.25rem;
}

.treeview.organization ul>li>ul {
  display: flex;
}

.treeview.organization ul>li>ul>li {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.treeview.organization ul>li>ul>li:after {
  content: "";
  display: block;
  position: absolute;
  height: 2px;
  width: 24px;
  background: #ccc;
  left: 108px;
  top: 50%;
}

.treeview.organization ul>li>ul>li>ul {
  margin: 8px 0 10px 24px;
}

.treeview.organization ul>li>ul>li>ul>li:before {
  content: "";
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 2px;
  height: 100%;
  background: #ccc;
}

.treeview.organization ul>li>ul>li>ul>li:after {
  content: "";
  display: block;
  position: absolute;
  height: 2px;
  width: 15px;
  background: #ccc;
  left: 0px;
  top: 3rem;
}

.treeview.organization ul>li>ul>li>ul>li:first-child:before {
  content: "";
  display: block;
  position: absolute;
  left: 0px;
  top: 50%;
  width: 2px;
  height: 100%;
  background: #ccc;
}

.treeview.organization ul>li>ul>li>ul>li:last-child:before {
  content: "";
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 2px;
  height: 50px;
  background: #ccc;
}

.treeview.organization ul>li>ul>li>ul>li:first-child:after {
  content: "";
  display: block;
  position: absolute;
  height: 2px;
  width: 15px;
  background: #ccc;
  left: 0px;
  top: 2.75rem;
}

.treeview.organization ul>li>ul>li>ul>li {
  padding: 0.5rem 1.25rem 0.5rem 0;
}

.treeview.organization ul>li>ul>li>ul>li a {
  display: block;
  padding: 12px 20px;
  border-radius: 6px;
  text-decoration: none;
  color: #fff;
  border: none;
  text-align: center;
  margin-left: 16px;
  width: 100%;
  background: linear-gradient(to right bottom, rgba(145, 195, 30, 1), rgba(0, 175, 200, 1));
}

.treeview.organization ul>li>ul>li>ul>li a h5 {
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 0.25rem;
}

.treeview.organization ul>li>ul>li>ul>li a p {
  margin-bottom: 0;
  white-space: pre-line;
}
/* --- 架構樣式-水平 --- */
.treeview.org-h {
  width: 100%;
  line-height: 22px;
  padding: 15px 0 0 0;
  margin: 0;
}

.treeview.org-h ul {
  margin: 0;
  padding: 0;
  position: relative;
}

.treeview.org-h ul>li {
  display: block;
  text-align: center;
  font-size: 1.25rem;
  padding: 0rem 0rem 0.75rem 0;
}

.treeview.org-h ul>li span {
  margin-top: 0;
  margin-bottom: 0px;
  white-space: nowrap;
  padding: 16px 24px;
  border-radius: 6px;
  background: linear-gradient(to right bottom, rgba(145, 195, 30, 1), rgba(0, 175, 200, 1));
  margin-bottom: 0;
  color: #fff;
}

.treeview.org-h ul>li:after {
  content: "";
  display: block;
  position: absolute;
  height: 20px;
  width: 2px;
  background: #ccc;
  left: 50%;
  top: 40px;
}

.treeview.org-h ul>li>ul {
  margin: 57px 0 0 0;
}

.treeview.org-h ul>li>ul>li:after {
  content: "";
  display: block;
  position: absolute;
  height: 24px;
  width: 2px;
  background: #ccc;
  left: 50%;
  top: 19%;
}

.treeview.org-h ul>li>ul>li>ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 40px 0 10px 0px;
}

.treeview.org-h ul>li>ul>li>ul>li:before {
  content: "";
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 2px;
  background: #ccc;
}

.treeview.org-h ul>li>ul>li>ul>li:after {
  content: "";
  display: block;
  position: absolute;
  height: 24px;
  width: 2px;
  background: #ccc;
  left: 50%;
  top: 0;
}

.treeview.org-h ul>li>ul>li>ul>li:first-child:before {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  top: 0;
  width: 100%;
  height: 2px;
  background: #ccc;
}

.treeview.org-h ul>li>ul>li>ul>li:last-child:before {
  content: "";
  display: block;
  position: absolute;
  right: 50%;
  top: 0px;
  width: 50%;
  height: 2px;
  background: #ccc;
}

.treeview.org-h ul>li>ul>li>ul>li:first-child:after {
  content: "";
  display: block;
  position: absolute;
  height: 24px;
  width: 2px;
  background: #ccc;
  left: 50%;
  top: 0;
}

.treeview.org-h ul>li>ul>li>ul>li {
  padding: 1.5rem 0rem 0.5rem 0;
  display: block;
}

.treeview.org-h ul>li>ul>li>ul>li a {
  display: block;
  padding: 12px 20px;
  border-radius: 6px;
  text-decoration: none;
  color: #fff;
  border: none;
  text-align: center;
  margin-left: 16px;
  background: linear-gradient(to right bottom, rgba(145, 195, 30, 1), rgba(0, 175, 200, 1));
}

.treeview.org-h ul>li>ul>li>ul>li a h5 {
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 0.25rem;
}

.treeview.org-h ul>li>ul>li>ul>li a p {
  margin-bottom: 0;
  white-space: pre-line;
}

@media (max-width: 768px) {
  .treeview.organization ul>li>ul>li>ul>li:first-child:before {
    top: 40%;
  }
  .treeview.org-h ul>li>ul>li:after {
    top: 40px
  }
}

@media (max-width: 576px) {
  .treeview.organization {
    width: 100%;
    line-height: 22px;
    padding: 0;
    margin: 0;
  }
  .treeview.organization ul {
    margin: 0;
    padding: 0;
    position: relative;
  }
  .treeview.organization ul>li {
    display: flex;
    align-items: center;
    word-break: break-all;
    font-size: 1.25rem;
    padding: 0.75rem 0 0.75rem 0;
  }
  .treeview.organization .list-group-item {
    display: block;
    border: none;
  }
  .treeview.organization ul>li span {
    text-decoration: none;
    padding: 16px 24px;
    border-radius: 6px;
    background: linear-gradient(to right bottom, rgba(145, 195, 30, 1), rgba(0, 175, 200, 1));
    margin-bottom: 30px;
    color: #fff;
    white-space: nowrap;
  }
  .treeview.organization ul>li:after {
    content: "";
    display: block;
    position: absolute;
    height: 16px;
    width: 2px;
    background: #ccc;
    left: 18%;
    top: 52px;
  }
  .treeview.organization ul>li>ul {
    margin: 41px 0 10px 0px;
  }
  .treeview.organization ul>li>ul>li {
    padding-left: 0;
    padding-right: 0;
    display: block;
  }
  .treeview.organization ul>li>ul>li:after {
    content: "";
    display: block;
    position: absolute;
    height: 16px;
    width: 2px;
    left: 18%;
    top: 52px;
  }
  .treeview.organization ul>li>ul>li>ul {
    margin: 34px 0 10px 53px;
  }
  .treeview.organization ul>li>ul>li>ul>li:before {
    content: "";
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 2px;
    height: 100%;
    background: #ccc;
  }
  .treeview.organization ul>li>ul>li>ul>li:after {
    content: "";
    display: block;
    position: absolute;
    height: 2px;
    width: 15px;
    background: #ccc;
    left: 0px;
    top: 50%;
  }
  .treeview.organization ul>li>ul>li>ul>li:first-child:before {
    content: "";
    display: block;
    position: absolute;
    left: 0px;
    top: 0;
    width: 2px;
    height: 100%;
    background: #ccc;
  }
  .treeview.organization ul>li>ul>li>ul>li:last-child:before {
    content: "";
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 2px;
    height: 50%;
    background: #ccc;
  }
  .treeview.organization ul>li>ul>li>ul>li:first-child:after {
    content: "";
    display: block;
    position: absolute;
    height: 2px;
    width: 15px;
    background: #ccc;
    left: 0px;
    top: 50%;
  }
  .treeview.organization ul>li>ul>li>ul>li {
    padding: 0.5rem 1.25rem 0.5rem 0;
  }
  .treeview.organization ul>li>ul>li>ul>li a {
    display: block;
    padding: 12px 20px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    border: none;
    text-align: center;
    margin-left: 16px;
    width: 100%;
    background: linear-gradient(to right bottom, rgba(145, 195, 30, 1), rgba(0, 175, 200, 1));
  }
  .treeview.organization ul>li>ul>li>ul>li a h5 {
    font-weight: 600;
    letter-spacing: 0;
    margin-bottom: 0.25rem;
  }
  .treeview.organization ul>li>ul>li>ul>li a p {
    margin-bottom: 0;
    white-space: pre-line;
    text-align: left;
  }

  .treeview.org-h ul>li {
    text-align: left;
  }
  .treeview.org-h ul>li:after {
    content: "";
    display: block;
    position: absolute;
    height: 20px;
    width: 2px;
    background: #ccc;
    left: 18%;
    top: 40px;
  }
  .treeview.org-h ul>li>ul>li:after {
    content: "";
    display: block;
    position: absolute;
    height: 24px;
    width: 2px;
    background: #ccc;
    left: 18%;
    top: 40px;
  }
  .treeview.org-h ul>li>ul>li>ul {
    display: block;
    margin: 40px 0 10px 0px;
  }
  .treeview.org-h ul>li>ul>li>ul>li:before {
    content: "";
    display: block;
    position: absolute;
    left: 18%;
    top: 0px;
    width: 2px;
    height: 100%;
    background: #ccc;
  }
  .treeview.org-h ul>li>ul>li>ul>li:after {
    content: "";
    display: block;
    position: absolute;
    height: 2px;
    width: 20px;
    background: #ccc;
    left: 18%;
    top: 50%;
  }
  .treeview.org-h ul>li>ul>li>ul>li:first-child:before {
    content: "";
    display: block;
    position: absolute;
    left: 18%;
    top: 0;
    width: 2px;
    height: 100%;
    background: #ccc;
  }
  .treeview.org-h ul>li>ul>li>ul>li:last-child:before {
    content: "";
    display: block;
    position: absolute;
    left: 18%;
    top: 0;
    width: 2px;
    height: 50%;
    background: #ccc;
  }
  .treeview.org-h ul>li>ul>li>ul>li:first-child:after {
    content: "";
    display: block;
    position: absolute;
    height: 2px;
    width: 20px;
    background: #ccc;
    left: 18%;
    top: 50%;
  }
  .treeview.org-h ul>li>ul>li>ul>li {
    padding: 0 0 .5rem 3.5rem;
    display: block;
  }
  .treeview.org-h ul>li>ul>li>ul>li a {
    display: block;
    padding: 12px 20px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    border: none;
    text-align: center;
    margin-left: 16px;
    background: linear-gradient(to right bottom, rgba(145, 195, 30, 1), rgba(0, 175, 200, 1));
  }
  .treeview.org-h ul>li>ul>li>ul>li a h5 {
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 0.25rem;
  }
  .treeview.org-h ul>li>ul>li>ul>li a p {
    margin-bottom: 0;
    white-space: pre-line;
    text-align: left;
  }
}
@media (max-width: 400px) {
  .treeview.organization ul>li>ul>li>ul {
    margin: 34px 0 10px 46px;
  }
}

/*--------------------------------------------------------
     Extension > TreeView > BStree
--------------------------------------------------------*/
/*--- Reset Default --- */
.bstree ul {
  padding-left: 0;
}
.bstree ul li>ul {
  padding-left: 40px;
}
.bstree ul li i {
  color: #4ca6af;
}

/*--------------------------------------------------------
      UI > Advanced > Loading
--------------------------------------------------------*/
.loading {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loading-bg-light {
  background: rgba(255, 255, 255, .8);
}
.loading-bg-dark {
  background: rgba(0, 0, 0, .4);
}

/*--------------------------------------------------------
      Form > Plugins > dropzone
--------------------------------------------------------*/
/* --- Default --- */
.dropzone {
  border: 2px dashed #ccc;
  border-radius: 4px;
}
.dropzone .dz-message {
  font-weight: 400;
  font-size: 1rem;
}
/* --- list style --- */
#dropzoneActions {
  margin-top: 2em;
  margin-bottom: 2em;
}
/* Mimic table appearance */
#dropzoneActions+div.table {
  display: table;
}
#dropzoneActions+div.table .file-row {
  display: table-row;
}
#dropzoneActions+div.table .file-row>div {
  display: table-cell;
  vertical-align: top;
  border-top: 1px solid #ddd;
  padding: 8px;
}
#dropzoneActions+div.table .file-row:nth-child(odd) {
  background: #f9f9f9;
}
/* The total progress gets shown by event listeners */
#dropzoneActions #total-progress {
  opacity: 0;
  transition: opacity 0.3s linear;
}
/* Hide the progress bar when finished */
#previews .file-row.dz-success .progress {
  opacity: 0;
  transition: opacity 0.3s linear;
}
/* Hide the delete button initially */
#previews .file-row .delete {
  display: none;
}
/* Hide the start and cancel buttons and show the delete button */
#previews .file-row.dz-success .start,
#previews .file-row.dz-success .cancel {
  display: none;
}
#previews .file-row.dz-success .delete {
  display: block;
}
/*--------------------------------------------------------
      Form > Plugins > Tagsinput
--------------------------------------------------------*/
.bootstrap-tagsinput {
  background-color: #fff;
  border: 1px solid #ced4da;
  box-shadow: none;
  padding: 2px;
  color: #3a3d3e;
  vertical-align: middle;
  width: 100%;
  line-height: 32px;
  cursor: text;
  min-height: 36px;
}
.bootstrap-tagsinput {
  background-color: #fff;
  border: 1px solid #ced4da;
  box-shadow: none;
  padding: 2px;
  color: #3a3d3e;
  vertical-align: middle;
  width: 100%;
  line-height: 32px;
  cursor: text;
  min-height: 36px;
}
.bootstrap-tagsinput .badge {
  margin: 3px 2px;
  padding: 0 5px 0 8px;
  font-size: .9rem;
  line-height: 1.6;
  font-weight: normal;
  color: #3a3d3e;
  background-color: #ececec;
}
 .bootstrap-tagsinput .badge [data-role="remove"] {
  margin-left: 2px;
}
.bootstrap-tagsinput .badge [data-role="remove"]:after {
  content: "×";
  color: #999;
  padding: 0px 4px;
  background-color: transparent;
  font-size: .9rem;
  cursor: pointer;
  font-weight: bold;
}
.bootstrap-tagsinput .badge [data-role="remove"]:hover:after {
  background-color: transparent;
  color: #333;
}
/*--------------------------------------------------------
      Form > Plugins > select2
--------------------------------------------------------*/
/* --- Reset Default Style ---*/
.select2-container {
  width: 100% !important;
}
.select2-container--default .select2-selection--single {
  border: 1px solid #ced4da;
  border-radius: .25rem;
}
.select2-container .select2-selection--single {
    height: 38px;
}
.select2-container .select2-selection--single:focus {
   outline: 0 !important;
   border-color: #80bdff;
   box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 38px;
}
/* arrow */
.select2-container--default .select2-selection--single .select2-selection__arrow {
  display: none;
}
.select2-container--default .select2-selection--single::after {
    display: inline-block;
    content: "";
    width: 10px;
    height: 5px;
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
    position: absolute;
    right: .8rem;
    top: 1rem;
}

.select2-container--default .select2-selection--multiple {
  border: 1px solid #ced4da;
  border-radius: .25rem;
  cursor: pointer;
}
.select2-container--default.select2-container--open.select2-selection--multiple {
  border: 1px solid #ced4da;
  box-shadow: 5px auto -webkit-focus-ring-color !important;
}
.select2-container--default.select2-container--focus .select2-selection--multiple {
  border-color: #80bdff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
}
.select2-container--open .select2-dropdown--below {
  min-width: 240px;
}
/* inline */
.form-inline  .select2-container .select2-selection--single .select2-selection__rendered {
  padding-right: 32px;
}
.form-inline .select2-container {
  width: unset !important;
}
.form-inline .select2-container .select2-selection--multiple {
  min-width: 240px;
}
.form-inline .select2-container .select2-selection--multiple .select2-selection__rendered {
  display: flex;
  height: 36px;
  justify-content: flex-start;
  width: auto;
}
.form-inline .select2-container--default .select2-selection--multiple .select2-selection__choice {
  float: inherit;
  height: 26px;
}
/* size */
.form-control-sm + .select2-container .select2-selection--single {
  height: 31px;
}
.form-control-sm + .select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 31px;
}
.form-control-sm + .select2-container--default .select2-selection--single::after {
    width: 7px;
    right: .6rem;
    top: .8rem;
}
.form-control-sm + .select2-container--default.select2-container .select2-selection--multiple {
  min-height: 31px;
  height: 31px;
}
.form-control-sm + .select2-container--default .select2-selection--multiple .select2-selection__rendered li {
  margin-top: 3px;
  line-height: 1.25;
}